{deps, [
    {json, ".*", {git, "https://github.com/hio/erlang-json.git"}},
    {kvc,  ".*", {git, "https://github.com/etrepum/kvc.git" }},
    {riak_core, "1.4.2-218-g5bfe02f", {git, "git://github.com/basho/riak_core", "0c1d73a1f1257"}},
    {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git"}}
]}.

{sub_dirs, [
            "apps/pager",
            "rel"
           ]}.
{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.

{require_otp_vsn, "R16"}.
