{deps, [
    {json, ".*", {git, "https://github.com/hio/erlang-json"}},
    {kvc,  ".*", {git, "https://github.com/etrepum/kvc" }},
    {riak_pipe, ".*", {git, "https://github.com/basho/riak_pipe", "2.0"}},
    {cowboy, "1.0.0", {git, "https://github.com/ninenines/cowboy", "1.0.0"}},
    {jiffy, "0.13.0", {git, "https://github.com/davisp/jiffy", "0.13.0"}},
    {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git"}}
]}.

{sub_dirs, [
            "apps/pager",
            "rel"
           ]}.
{erl_opts, [debug_info, nowarn_deprecated_type, {parse_transform, lager_transform}]}.

{require_otp_vsn, "R16"}.
